.portfolio-item {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    height: 200px; // Fixed height for images
    object-fit: cover; // Ensures images cover the area without distortion
  }

  .card-body {
    padding: 1.5rem;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  .card-text {
    font-size: 0.9rem;
    color: var(--text-color-dark);
  }
}

body[data-theme="light"] .portfolio-item {
  .card-text {
    color: var(--text-color-light);
  }
}
