.blog-section {
  padding: 6rem 0;
  background-color: var(--background-color-blog);

  .blog-post-card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--secondary-background-dark);

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .card-title {
      color: var(--primary-color-dark); // Green color for titles
    }

    .card-text {
      color: var(--text-color-dark);
    }
  }
}

body[data-theme="light"] .blog-section {
  .blog-post-card {
    background-color: var(--secondary-background-light);

    .card-title {
      color: var(--primary-color-light);
    }

    .card-text {
      color: var(--text-color-light);
    }
  }
}
